In [3]:
import pymongo
from pymongo import MongoClient
pymongo.__version__

'4.6.3'

# Connection

In [4]:
client = MongoClient('mongodb://localhost:27017/StudentDatabaseManagementSystem')

In [5]:
#calling the database
db = client.StudentDabatabseMangementSystem
client.list_database_names()

['StudentDatabaseManagementSystem',
 'Studentdatabase',
 'admin',
 'config',
 'local']

In [71]:
db = client['StudentDatabaseManagementSystem']
print(db.list_collection_names())

['Enrollments', 'Courses', 'BorrowedBooks', 'ClassSchedule', 'LibraryResources', 'Students_info', 'Attendance', 'students_info', 'Academic_record', 'Placements', 'FinancialTransaction']

In [73]:
students_collection = db.Students_info
for student in students_collection.find():
    print(student)

{'_id': 1, 'FirstName': 'John', 'LastName': 'Doe', 'DateOfBirth': '1990-05-15', 'ContactNumber': '123-456-7890', 'Email': 'john.doe@example.com'}
{'_id': 2, 'FirstName': 'Jane', 'LastName': 'Smith', 'DateOfBirth': '1992-08-22', 'ContactNumber': '987-654-3210', 'Email': 'jane.smith@example.com'}
{'_id': 3, 'FirstName': 'Mike', 'LastName': 'Johnson', 'DateOfBirth': '1995-03-10', 'ContactNumber': '555-123-4567', 'Email': 'mike.johnson@example.com'}
{'_id': 4, 'FirstName': 'Emily', 'LastName': 'Brown', 'DateOfBirth': '1998-11-28', 'ContactNumber': '777-888-9999', 'Email': 'emily.brown@example.com'}
{'_id': 5, 'FirstName': 'David', 'LastName': 'Williams', 'DateOfBirth': '1993-06-05', 'ContactNumber': '111-222-3333', 'Email': 'david.williams@example.com'}
{'_id': 6, 'FirstName': 'Pawan', 'LastName': 'Johnson', 'DateOfBirth': '2001-02-15', 'ContactNumber': '555-1234', 'Email': 'pawan.charlie.brown@mail.com'}
{'_id': 7, 'FirstName': 'Pawan', 'LastName': 'Karthik', 'DateOfBirth': '2001-02-15', 'ContactNumber': '5255-1234', 'Email': 'pawan.mythri.brown@mail.com'}
{'_id': 8, 'FirstName': 'Piyush', 'LastName': 'Karthik', 'DateOfBirth': '2001-02-15', 'ContactNumber': '5255-1234', 'Email': 'pk.johnson@example.com'}

In [74]:
new_Students_info = {
    "_id": 9,
    "FirstName": "Mythri",
    "LastName": "Krpet Jayaram",
    "DateOfBirth": "1997-08-04",
    "ContactNumber": "7455-1634",
    "Email": "myth@example.com"
}
students_collection.insert_one(new_Students_info)

InsertOneResult(9, acknowledged=True)

In [58]:
Courses_collection = db.Courses
for courses in Courses_collection.find():
    print(courses)

{'_id': 101, 'CourseName': 'Introduction to Computer Science'}
{'_id': 102, 'CourseName': 'Data Structures and Algorithms'}
{'_id': 103, 'CourseName': 'Database Management Systems'}
{'_id': 104, 'CourseName': 'Software Engineering'}
{'_id': 105, 'CourseName': 'Artificial Intelligence'}
{'_id': 106, 'CourseName': 'Special Topics in CIS'}
{'_id': 107, 'CourseName': 'Special Topics in MTH'}

In [75]:
course = db.Courses.find_one({"_id": 101})
print(course)

{'_id': 101, 'CourseName': 'Introduction to Computer Science'}

In [84]:
new_Courses = {
    "_id": 109,
    "CourseName": "Advance MTH Stats"
}
Courses_collection.insert_one(new_Courses)

InsertOneResult(109, acknowledged=True)

In [85]:
# Read and iterate through student documents
cursor = db.Courses.find()
for Courses in cursor:
    print(Courses)

{'_id': 101, 'CourseName': 'Introduction to Computer Science'}
{'_id': 102, 'CourseName': 'Data Structures and Algorithms'}
{'_id': 103, 'CourseName': 'Database Management Systems'}
{'_id': 104, 'CourseName': 'Software Engineering'}
{'_id': 105, 'CourseName': 'Artificial Intelligence'}
{'_id': 106, 'CourseName': 'Special Topics in CIS'}
{'_id': 107, 'CourseName': 'Special Topics in MTH'}
{'_id': 108, 'CourseName': 'Adavance Data Mining'}
{'_id': 109, 'CourseName': 'Advance MTH Stats'}

# Read Commands

In [86]:
Course_id_to_find = 101  # Assuming you want to find students enrolled in course 101
Enrollments = db.Enrollments.find({"CourseID": Course_id_to_find})

# Assuming you have student IDs in the enrollments and you want to fetch those students
for Enrollment in Enrollments:
    student = db.Students_info.find_one({"_id": Enrollment["StudentID"]})
    print(student)

{'_id': 1, 'FirstName': 'John', 'LastName': 'Doe', 'DateOfBirth': '1990-05-15', 'ContactNumber': '123-456-7890', 'Email': 'john.doe@example.com'}
{'_id': 4, 'FirstName': 'Emily', 'LastName': 'Brown', 'DateOfBirth': '1998-11-28', 'ContactNumber': '777-888-9999', 'Email': 'emily.brown@example.com'}

In [88]:
Course_id_to_aggregate = 101  # Assuming you're interested in the average grade for course 101

pipeline = [
    {"$match": {"CourseID": Course_id_to_aggregate}},  # Step 1: Filter documents by CourseID
    {"$group": {                                      # Step 2: Group the filtered documents
        "_id": "$CourseID",                           # Grouping key - in this case, CourseID
        "AverageGrade": {"$avg": "$Grade"}            # Calculate the average grade
    }}
]

average_grade = db.Academic_record.aggregate(pipeline)

for result in average_grade:
    print("CourseID:", result["_id"], "Average Grade:", result["AverageGrade"])

CourseID: 101 Average Grade: 90.35

In [90]:
last_name_to_search = "Smith"  # Example last name
students = db.Students_info.find({"LastName": last_name_to_search}).sort("FirstName", 1).limit(5)

for student in students:
    print(student)

{'_id': 2, 'FirstName': 'Jane', 'LastName': 'Smith', 'DateOfBirth': '1992-08-22', 'ContactNumber': '987-654-3210', 'Email': 'jane.smith@example.com'}

# Update

In [91]:
# Update a student's email
result = db.students_info.update_one(
    {"_id": 7},
    {"$set": {"Email": "pawan.mythri.brown@mail.com"}}
)
print("Number of documents updated:", result.modified_count)

Number of documents updated: 0

# Delete

In [92]:
course_id_to_delete = 110  # Specify the CourseID you wish to delete

result = db.Courses.delete_one({"_id": course_id_to_delete})

print("Number of documents deleted:", result.deleted_count)

Number of documents deleted: 0